@use 'variables' as *;

@mixin tablet-up {
  @media (min-width: $bp-tablet-min) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop-min) {
    @content;
  }
}

@mixin hover {

  &:hover,
  &:focus-visible {
    @content;
  }
}

@mixin gradient-text {
  background-image: $gradient-text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@mixin button-large {
  padding: 12px 38px;
  font-size: 22px;
}

@mixin shaded-bg($image, $position: center) {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), $color-shade),
    $image $position / cover no-repeat;
}